h1 {
  color: red;
}
.body {
  background-color: black;
  color: white;
}
.list {
  padding: 10px;
  border: solid rgba(0, 0, 0, 0.08) 1px;

  background-color: rgb(41, 127, 248);
}
.ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.div.detail {
  display: flex;
}
.div-detail-2 {
  background-color: aquamarine;
  padding: 30px;
  color: black;
}
.article {
  display: flex;
  justify-content: center;
}

.form-detail {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
}
.nav {
  text-align: center;
  font-size: large;
  text-decoration: none;
  outline: none;
  color: white;
}
